<app-navbar-two></app-navbar-two>

<div class="terms-title">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="title-text text-center">
                <h2>Terms And Conditions</h2>

                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li>Terms and Conditions</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="terms-section pt-100">
    <div class="container">
        <h2>Our Terms And Conditions</h2>
        <p>Last updated: July 5th, 2022</p>
        <div class="terms-text">
        <h3>Table of Contents</h3>
        <ol>
            <li>Agreement To Terms</li>
            <li>Intellectual Property Rights</li>
            <li>User Registration</li>
            <li>Fees and Payment</li>
            <li>Cancellation</li>
            <li>Software</li>
            <li>Prohibited Activities</li>
            <li>User Generated Contribution</li>
            <li>Contribution License</li>
            <li>Guidelines for Review</li>
            <li>Submission</li>
            <li>U.S. Government Rights</li>
            <li>Site Management</li>
            <li>Privacy Policy</li>
            <li>Copyright Infringements</li>
            <li>Terms and Termination</li>
            <li>Modifications and Interruptions</li>
            <li>Governing Law</li>
            <li>Dispute Resolution</li>
            <li>Correction</li>
            <li>Disclaimer</li>
            <li>Limitation of Liability</li>
            <li>Idemnification</li>
            <li>User Data</li>
            <li>Electronic Communications, Transactions and Signature</li>
            <li>Miscellaneous</li>
            <li>Contact Us</li>
        </ol>

        <p>Note to the reviewer: This page will be updated as and when I get more information about T&C</p>

        <h2>1. Agreement to Terms</h2>
        <p>These Terms of Use constitute a legally binding agreement made between you</p>
    </div>
    </div>

</div>