<app-navbar-two></app-navbar-two>

<div class="terms-title">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="title-text text-center">
                <h2>Terms And Conditions</h2>

                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li>Terms and Conditions</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="terms-section pt-100">
    <div class="container">
        <h2>Our Terms And Conditions</h2>
        <p>Last updated: July 5th, 2022</p>
        <div class="terms-text">
        <h3>Table of Contents</h3>
        <ol>
            <li>Agreement To Terms</li>
            <li>Intellectual Property Rights</li>
            <li>User Registration</li>
            <li>Fees and Payment</li>
            <li>Cancellation</li>
            <li>Software</li>
            <li>Prohibited Activities</li>
            <li>User Generated Contribution</li>
            <li>Contribution License</li>
            <li>Guidelines for Review</li>
            <li>Submission</li>
            <li>U.S. Government Rights</li>
            <li>Site Management</li>
            <li>Privacy Policy</li>
            <li>Copyright Infringements</li>
            <li>Terms and Termination</li>
            <li>Modifications and Interruptions</li>
            <li>Governing Law</li>
            <li>Dispute Resolution</li>
            <li>Correction</li>
            <li>Disclaimer</li>
            <li>Limitation of Liability</li>
            <li>Idemnification</li>
            <li>User Data</li>
            <li>Electronic Communications, Transactions and Signature</li>
            <li>Miscellaneous</li>
            <li>Contact Us</li>
        </ol>

        <p>Note to the reviewer: This page will be updated as and when I get more information about T&C</p>

        <h2>1. Agreement to Terms</h2>
        <p>These Terms of Use constitute a legally binding agreement made between you, whether personally or on behalf of an entity and TargetCatcher Inc. ("Company", "we", "us", "or"), concerning your access to and use of the TranscriBot website as well as any other media form, media channel, mobile website or mobile application related, linked or otherwise connected thereto (Collectively, the "Site"). We are registered in Canada and have our registered office at 1-2992 Rue Du Havre, Montreal, Quebec H2Y 2K1. You agree that by accessing the Site, you have read, understood and agree to be bound by all these Terms Of Use. IF YOU DO NOT AGREE WITH ALL OF THE TERMS, THEN YOU ARE EXPRESSLY PROHIBITED FROM USING THE SITE AND MUST DISCONTINUE USE IMMEDIATELY.</p>
        <P>Supplemental terms and conditions or documents that may be posted on the Site from time to time are hereby expressly incorporated herein by reference. We reserve the right, in our sole discretion, to make changes or modifications to these Terms and Conditions at any time and for any reason. We will alert you about any changes in Terms and Conditions by changing the "Last Updated" date, and you waive any right to receive specific notice of each such change. Please ensure that you check the applicable Terms every time you use the Site so you understand which terms apply. You will be subject to, and will be deemed to have been made aware of and to have accepted, the changes in any revised Terms of Use by your continued use of the Site after the date such revised Terms are posted. </P>
        <p>The information provided on the Site is not intended for distribition to or use by any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would subject us to any registration requirement within such jurisdiction or country. Accordingly, those persons who choose to access the Site from other locations do so on their own initiative and are solely responsible for compilance with local laws, if and to the extent local laws are applicable.</p>
        <p>The Site is intended for users who are atleast 13 years of age. All users who are minors in the jurisdiction in which they reside (generally under 18) must have the permission of, and be directly supervised by, their parent or guardian to use the Site. If you are a minor, you must have your parent or guardian read and agree to these Terms and Conditions prior to you using the Site.</p>

        <h2>2. Intellectual Property Rights</h2>
    </div>
    </div>

</div>