<app-navbar-two></app-navbar-two>


<div class="faq-title">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="title-text text-center">
                <h2>FAQ</h2>

                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li>FAQ</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="faq-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Frequently Asked Questions</h2>
                <div class="topic">
                    <div class="open">
                        <h3 class="question">1. What are our goals?</h3>
                        <span class="faq-t"></span>
                    </div>
                    <p class="answer">We aim to provide utmost customer satisfacttion and maximum productivity at call centers. Some of our objectives include increasing customer retention, reducing the cost of operation, increasing employee performance and improving Client-Employee interaction via Audio and Text Sentiment Analysis.</p>
                </div>

                <div class="topic">
                    <div class="open">
                        <h3 class="question">2. How do we work?
                        </h3><span class="faq-t"></span>
                    </div>
                    <p class="answer">Once you book a demo with our solution expert and want to proceed further, we work with you for contract negotiation and project initiation. We perform instance setup on our cloud based platform followed by deployment and testing and finally training and change management. Check out our home page to lear more.</p>
                </div>

                <div class="topic">
                    <div class="open">
                        <h3 class="question">3. How can I contact?
                        </h3><span class="faq-t"></span>
                    </div>
                    <p class="answer">If you wish to contact us, we can be reached at <a href="mailto:info@targetcatcher.com">info@targetcatcher.com</a>. Head on to our contact page for more information about contact and booking a demo.</p>
                </div>

                <div class="topic">
                    <div class="open">
                        <h3 class="question">4. What services do we offer?
                        </h3><span class="faq-t"></span>
                    </div>
                    <p class="answer">Some of our services include Speech Analytics, Language Translation and Sentiment Analysis. To learn more, please click on Services in the menu bar.</p>
                </div>

                <div class="topic">
                    <div class="open">
                        <h3 class="question">5. How do I see the employee performance?
                        </h3><span class="faq-t"></span>
                    </div>
                    <p class="answer">(Please Answer)</p>
                </div>

                <div class="topic">
                    <div class="open">
                        <h3 class="question">6. How to add/delete employees?
                        </h3><span class="faq-t"></span>
                    </div>
                    <p class="answer">(Please Answer)</p>
                </div>

                <div class="topic">
                    <div class="open">
                        <h3 class="question">7. What are 'groups'? </h3>
                        <span class="faq-t"></span>
                    </div>
                    <p class="answer">(Please Answer)</p>
                </div>

                <div class="topic">
                    <div class="open">
                        <h3 class="question">8. How can I send a message to you? </h3>
                        <span class="faq-t"></span>
                    </div>
                    <p class="answer">If you wish to contact us for further inquiries, we can be reached at <a href="mailto:info@targetcatcher.com">info@targetcatcher.com</a>. More contact info is given at our Contact Page (in the menu bar). You can also book a demo with us and our solution expert will answer any question you might have.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>