<app-navbar-two></app-navbar-two>

<div class="pricing-title">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="title-text text-center">
                <h2>Pricing</h2>

                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li>Pricing</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="pricing-section pt-100 pb-70" id="pricing">
    <div class="container">
        <div class="section-title text-center">
            <h2>Choose Your Plan</h2>
            <span>No contracts, no surprise fees.</span>    
        </div>

       
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="pricing-card" id="one">
                    <div class="price-header text-center">
                        <h2>Basic</h2>
                        <h3><sup>$</sup>29<span>/Month</span></h3>
                        <i class="flaticon-startup"></i>
                    </div>

                    <div class="pricing-feature">
                        <ul>
                            <li><i class='bx bx-check'></i> Up to 3 features</li>
                            <li><i class='bx bx-check'></i> Mailing Address</li>
                            <li><i class='bx bx-check'></i> Mail Scanning</li>
                            <li><i class='bx bx-check'></i> Free phone/chat support</li>
                            <li><i class='bx bx-block'></i> All features in Premium</li>
                            <li><i class='bx bx-block'></i> Custom features</li>
                            <li><i class='bx bx-block'></i> Integration</li>
                            <li><i class='bx bx-block'></i> REST API option</li>
                        </ul>
                    </div>

                    <div class="theme-button text-center">
                        <a routerLink="/" class="default-btn">Get Started</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="pricing-card price-card-two" id="two">
                    <div class="price-header text-center">
                        <h2>Standard</h2>
                        <h3><sup>$</sup>59<span>/Month</span></h3>
                        <i class="flaticon-startup"></i>
                    </div>

                    <div class="pricing-feature">
                        <ul>
                            <li><i class='bx bx-check'></i> All Features in Basic</li>
                            <li><i class='bx bx-check'></i> Workflow Engine</li>
                            <li><i class='bx bx-check'></i> Free phone/chat support</li>
                            <li><i class='bx bx-check'></i> All features in Premium</li>
                            <li><i class='bx bx-check'></i> Messenger Integration</li>
                            <li><i class='bx bx-check'></i> Custom features</li>
                            <li><i class='bx bx-block'></i> Integration</li>
                            <li><i class='bx bx-block'></i> REST API option</li>
                        </ul>
                    </div>

                    <div class="theme-button text-center">
                        <a routerLink="/" class="default-btn">Get Started</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0 ">
                <div class="pricing-card price-card-two" id="three">
                    <div class="price-header text-center">
                        <h2>Premium</h2>
                        <h3><sup>$</sup>99<span>/Month</span></h3>
                        <i class="flaticon-startup"></i>
                    </div>

                    <div class="pricing-feature">
                        <ul>
                            <li><i class='bx bx-check'></i> All features in Standard</li>
                            <li><i class='bx bx-check'></i> 500 ChatBot Triggers</li>
                            <li><i class='bx bx-check'></i> Quick Responses</li>
                            <li><i class='bx bx-check'></i> Google Analytics</li>
                            <li><i class='bx bx-check'></i> Messenger Integration</li>
                            <li><i class='bx bx-check'></i> Email Integration</li>
                            <li><i class='bx bx-check'></i> Mobile + Desktop Apps</li>
                            <li><i class='bx bx-check'></i> Drag & Drop Widgets</li>
                        </ul>
                    </div>

                    <div class="theme-button text-center">
                        <a routerLink="/" class="default-btn">Get Started</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0 ">
                <div class="pricing-card price-card-three" id="four">
                    <div class="price-header text-center">
                        <h2>Enterprise </h2>
                        <h3><sup>$</sup><span>/Month</span></h3>
                        <i class="flaticon-startup"></i>
                    </div>

                    <div class="pricing-feature">
                        <ul>
                            <li><i class='bx bx-check'></i> Up to 10 chat operators</li>
                            <li><i class='bx bx-check'></i> 500 ChatBot Triggers</li>
                            <li><i class='bx bx-check'></i> Quick Responses</li>
                            <li><i class='bx bx-check'></i> Google Analytics</li>
                            <li><i class='bx bx-check'></i> Messenger Integration</li>
                            <li><i class='bx bx-check'></i> Email Integration</li>
                            <li><i class='bx bx-check'></i> Mobile + Desktop Apps</li>
                            <li><i class='bx bx-check'></i> Drag & Drop Widgets</li>
                        </ul>
                    </div>

                    <div class="theme-button text-center">
                        <a routerLink="/" class="default-btn">Get Started</a>
                    </div>
                </div>
            </div>

            

        </div>
        
    </div>
</div>
<app-footer></app-footer>