


<div class="coming-soon-section pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-md-2">
                <div class="coming-soon-video">
                    <video id="background-video" autoplay loop muted><source src="assets/img/Coming Soon.mp4" type="video/mp4"></video>
                </div>
            </div>
        </div>

        <div class="theme-button text-center">
            <a routerLink="/" class="default-btn">Go To Home</a>
        </div>
    </div>
</div>
