<app-navbar-one></app-navbar-one>

<div class="main-banner">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="banner-text">
                    <h1>Your Concerns Our Responsibility</h1>
                    <p>We provide a variety of services catering to all kinds of concerns that come with ensuring quality at call centers. From analysing, translating, transcribing, recording to even guiding; TranscriBot helps you reach maximum performance and customer satisfaction. Good news is that we walk just as much as we talk, if not more. Get started today by learning more about us and booking a demo with us before it gets too late! </p>

                    <div class="theme-button">
                        <a routerLink="/" class="default-btn">Get Started</a>
                        <a href="https://www.youtube.com/watch?v=tE9CTpzeTco" class="video-btn popup-vimeo"><i class="bx bx-play"></i> Watch video</a>
                    </div>
                </div>

                <div class="banner-image">
                    <img src="assets/img/home2.png" alt="banner image">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="video-section pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="video-text">
                    <a href="https://www.youtube.com/watch?v=tE9CTpzeTco" class="popup-vimeo"><i class='bx bx-play'></i></a>
                    <p>Watch our video and know more about us</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="theory-section">
    <div class="container">
        <div class="row theory-area">
            <div class="col-lg-7">
                <div class="theory-text">
                    <h2>Implementation Journey</h2>
                    <p>We're with you at every step in the way. You can be assured that the product implementation journey will be as easy for you as possible. Watch our video to learn more about us, our services and the implementation journey.</p>
                    <div class="signature-box">
                        <img src="assets/img/signature.png" alt="signature">
                        <p>Mouna Rhioui</p>
                        <span>Founder and CEO</span>
                    </div>
                </div>
            </div>

            <div class="theory-img">
                <img src="assets/img/theory.png" alt="theory image">
            </div>
        </div>
    </div>
</div>


<section class="about-section pb-100"> 
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="about-image">
                    <img src="assets/img/about/1.jpg" alt="about image">
                </div>
            </div>
            
            <div class="col-lg-6 offset-lg-1">
                <div class="about-text">
                    <div class="section-title">
                        <span>About Us</span>
                        <h2>Bridge The Language Gap Between Your Customers And You</h2>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <div class="about-us">
                                <i class="flaticon-winner icon-one"></i>
                                <p>Minimal Operation Cost</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="about-us">
                                <i class="flaticon-customer-service icon-two"></i>
                                <p>24/7 Support</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="about-us">
                                <i class="flaticon-handshake icon-three"></i>
                                <p>Significantly Effective</p>
                            </div>
                        </div>
                    </div>
                    <p>In addition to analysing customer behaviour, helping minimise customer churn and maximise productivity, we also offer back and forth Text to Speech option which can then be translated as well as recorded in an MP3 file into any language as per your convinence. We cater to different target markets and people irrespective of their fluency levels in English and/or French.</p>
                    <div class="theme-button">
                       <a routerLink="/about" class="default-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features-section pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>Our Feature</span>
            <h2>Our Powerful Features</h2>
            <p>Each service provided is developed with your best interest in mind. Explained briefly below are some of TranscriBot's most powerful features. Click on Services to learn more about all the services in detail.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="features-card feature-one">
                    <i class="flaticon-technical-support"></i>
                    <h3>Speech Analytics and Discrepancy Analysis</h3>
                    <p>We provide detailed analytics about Client-Employee interaction and their speech analysis, thereby identifying areas of improvement.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="features-card feature-two">
                    <i class="flaticon-megaphone"></i>
                    <h3>Language Detection and Translation</h3>
                    <p>We help bridge the language barrier between you and the customers that might not be native speakers by detecting and translating the language.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="features-card feature-three">
                    <i class="flaticon-optimization"></i>
                    <h3>Speech to Text and Text to Speech Conversion</h3>
                    <p>In addition to translation, we also provide back-and-forth text to speech or speech to text conversion for an effortless connect with the customers.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="features-card feature-four">
                    <i class="flaticon-first-place"></i>
                    <h3>Audio and Text Sentiment Analysis</h3>
                    <p>Using Sentiment Analysis, we give high importance to your customers and know just what you need for positive customer experiences.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="features-card feature-five">
                    <i class="flaticon-alarm-clock"></i>
                    <h3>Background Noise Cancellation and Quality Enhancement</h3>
                    <p>One of our many powerful features also includes noise cancellation which enhances the quality of Client-Employee interaction.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="features-card feature-six">
                    <i class="flaticon-newsletter"></i>
                    <h3>High Rate of Call Acceptance and Voicemail Support</h3>
                    <p>TranscriBot helps free up the QA that further ensures that most if not all your calls are accepted, we also support voicemail option.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="service-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 service-img"></div>

            <div class="col-md-7 offset-md-5 p-0">
                <div class="service-text">
                    <h2>Some of Our Objectives Include</h2>
                    <ul>
                        <li><i class="flaticon-checkmark"></i> Improving Customer Experience and Retention</li>
                        <li><i class="flaticon-checkmark"></i> Reducing Cost of Operation</li>
                        <li><i class="flaticon-checkmark"></i> Increasing Employee Performance</li>
                        <li><i class="flaticon-checkmark"></i> Bettering the Visibility of Client-Employee Interaction via Sentiment Analysis</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Commenting out Team
<section class="team-section pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>Team Member</span>
            <h2>Meet Our Expert Team Member</h2>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="team-card">
                    <div class="team-img">
                        <img src="assets/img/team/1.jpg" alt="team member">

                        <div class="team-text">
                            <div class="team-social">
                                <ul>
                                    <li><a href="#" target="_blank"><i class="flaticon-facebook"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="flaticon-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="flaticon-instagram"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="flaticon-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <h3>Jerry Hudson</h3>
                            <p>Business Consultant</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="team-card">
                    <div class="team-img">
                        <img src="assets/img/team/2.jpg" alt="team member">

                        <div class="team-text">
                            <div class="team-social">
                                <ul>
                                    <li><a href="#" target="_blank"><i class="flaticon-facebook"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="flaticon-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="flaticon-instagram"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="flaticon-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <h3>Juho Hudson</h3>
                            <p>Research Consultant</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="team-card">
                    <div class="team-img">
                        <img src="assets/img/team/3.jpg" alt="team member">

                        <div class="team-text">
                            <div class="team-social">
                                <ul>
                                    <li><a href="#" target="_blank"><i class="flaticon-facebook"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="flaticon-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="flaticon-instagram"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="flaticon-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <h3>Sarah Tylor</h3>
                            <p>Marketing Consultant</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="team-card">
                    <div class="team-img">
                        <img src="assets/img/team/4.jpg" alt="team member">

                        <div class="team-text">
                            <div class="team-social">
                                <ul>
                                    <li><a href="#" target="_blank"><i class="flaticon-facebook"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="flaticon-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="flaticon-instagram"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="flaticon-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <h3>Aikin Ward</h3>
                            <p>Business Consultant</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="testimonial-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 offset-lg-1 pt-100 pb-100">
                <div class="testimonial-slider owl-carousel owl-theme">
                    <div class="slider-items">
                        <img src="assets/img/testimonial/1.png" alt="testimonial image">
                        <h3>Adision Smith</h3>
                        <span>Designer</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra</p>
                    </div>

                    <div class="slider-items">
                        <img src="assets/img/testimonial/2.png" alt="testimonial image">
                        <h3>John Smith</h3>
                        <span>Digital Marketer</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra</p>
                    </div>

                    <div class="slider-items">
                        <img src="assets/img/testimonial/3.png" alt="testimonial image">
                        <h3>Anderson</h3>
                        <span>Designer</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 p-0">
                <div class="testimonial-image"></div>
            </div>
        </div>
    </div>
</div>
-->
<!--Commenting out Portfolio

<section class="portfolio-section pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>Our Portfolio</span>
            <h2>Latest Works For Clients</h2>
            <p>This feature is essential for any mobile app, so make sure you have it! These types of notifications can directly alert your user.</p>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="portfolio-item">
                    <div class="portfolio-img">
                        <img src="assets/img/portfolio/1.jpg" alt="portfolio image">

                        <div class="portfolio-text">
                            <h3>Online Business</h3>
                            <a routerLink="/portfolio" class="portfolio-btn">Read More <i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="portfolio-item">
                    <div class="portfolio-img">
                        <img src="assets/img/portfolio/2.jpg" alt="portfolio image">

                        <div class="portfolio-text">
                            <h3>Digital Marketing</h3>
                            <a routerLink="/portfolio" class="portfolio-btn">Read More <i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-8">
                <div class="portfolio-item">
                    <div class="portfolio-img">
                        <img src="assets/img/portfolio/3.jpg" alt="portfolio image">

                        <div class="portfolio-text">
                            <h3>Business Research</h3>
                            <a routerLink="/portfolio" class="portfolio-btn">Read More <i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-4">
                <div class="portfolio-item">
                    <div class="portfolio-img">
                        <img src="assets/img/portfolio/4.jpg" alt="portfolio image">

                        <div class="portfolio-text">
                            <h3>Content Writing</h3>
                            <a routerLink="/portfolio" class="portfolio-btn">Read More <i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-8">
                <div class="portfolio-item">
                    <div class="portfolio-img">
                        <img src="assets/img/portfolio/5.jpg" alt="portfolio image">

                        <div class="portfolio-text">
                            <h3>Virtual Assistant Service</h3>
                            <a routerLink="/portfolio" class="portfolio-btn">Read More <i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-4">
                <div class="portfolio-item">
                    <div class="portfolio-img">
                        <img src="assets/img/portfolio/6.jpg" alt="portfolio image">

                        <div class="portfolio-text">
                            <h3>SEO Service</h3>
                            <a routerLink="/portfolio" class="portfolio-btn">Read More <i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="theme-button text-center">
            <a routerLink="/portfolio" class="default-btn">Load More</a>
        </div>
    </div>
</section>


<div class="progress-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 progress-image"></div>

            <div class="col-md-6 offset-md-6 p-0">
                <div class="progress-text">
                    <h2>We've Got You Covered</h2>
                    <p>We know how important it is to be able to fully understand your customer's needs and while this might look obvious at first, this may not be as easy as it looks. Failure to do so may turn away a lot of customers. This is where we come in. We offer a variety of services for Quality Assurance such as</p>
                    <div class="progress-inner">
                        <p>Translation</p>
                        <span>90%</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="progress-inner">
                        <p>Transcription</p>
                        <span>85%</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="progress-inner">
                        <p>Sentiment Analysis</p>
                        <span>95%</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->

<section class="blog-section pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>Our Blog</span>
            <h2>Our Latest Blogs</h2>    
        </div>
       
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <a routerLink="/blog-details"><img src="assets/img/blog/1.jpg" alt="blog image"></a>
                        <div class="blog-date">
                            <span>21 Feb</span>
                        </div>
                    </div>

                    <div class="blog-text">
                        <h3><a routerLink="/blog-details">The next genaration IT will change the world</a></h3>
                        <div class="post-info">
                            <img src="assets/img/blog/author-1.png" alt="blog author">
                            <a routerLink="/"><p>Aikin Ward</p></a>
                            <a routerLink="/blog-details" class="blog-btn">Read More <i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <a routerLink="/blog-details"><img src="assets/img/blog/2.jpg" alt="blog image"></a>
                        <div class="blog-date">
                            <span>22 Feb</span>
                        </div>
                    </div>

                    <div class="blog-text">
                        <h3><a routerLink="/blog-details">Content writing demand day by day increasing</a></h3>
                        <div class="post-info">
                            <img src="assets/img/blog/author-2.png" alt="blog author">
                            <a routerLink="/"><p>John Smith</p></a>
                            <a routerLink="/blog-details" class="blog-btn">Read More <i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="blog-card">
                    <div class="blog-img">
                        <a routerLink="/blog-details"><img src="assets/img/blog/3.jpg" alt="blog image"></a>
                        <div class="blog-date">
                            <span>23 Feb</span>
                        </div>
                    </div>

                    <div class="blog-text">
                        <h3><a routerLink="/blog-details">Don't buy a tech gift until you read these rules image</a></h3>
                        <div class="post-info">
                            <img src="assets/img/blog/author-3.png" alt="blog author">
                            <a routerLink="/"><p>Sarah Tylor</p></a>
                            <a routerLink="/blog-details" class="blog-btn">Read More <i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="pricing-section pt-100 pb-70" id="pricing">
    <div class="container">
        <div class="section-title text-center">
            <h2>Choose Your Plan</h2>
            <span>No contracts, no surprise fees.</span>    
        </div>
        

        

        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="pricing-card" id="one">
                    <div class="price-header text-center">
                        <h2>Basic</h2>
                        <h3><sup>$</sup>29<span>/Month</span></h3>
                        <i class="flaticon-startup"></i>
                    </div>

                    <div class="pricing-feature">
                        <ul>
                            <li><i class='bx bx-check'></i> Up to 3 features</li>
                            <li><i class='bx bx-check'></i> Mailing Address</li>
                            <li><i class='bx bx-check'></i> Mail Scanning</li>
                            <li><i class='bx bx-check'></i> Free phone/chat support</li>
                            <li><i class='bx bx-block'></i> All features in Premium</li>
                            <li><i class='bx bx-block'></i> Custom features</li>
                            <li><i class='bx bx-block'></i> Integration</li>
                            <li><i class='bx bx-block'></i> REST API option</li>
                        </ul>
                    </div>

                    <div class="theme-button text-center">
                        <a routerLink="pricing" class="default-btn">Get Started</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="pricing-card price-card-two" id="two">
                    <div class="price-header text-center">
                        <h2>Standard</h2>
                        <h3><sup>$</sup>59<span>/Month</span></h3>
                        <i class="flaticon-startup"></i>
                    </div>

                    <div class="pricing-feature">
                        <ul>
                            <li><i class='bx bx-check'></i> All Features in Basic</li>
                            <li><i class='bx bx-check'></i> Workflow Engine</li>
                            <li><i class='bx bx-check'></i> Free phone/chat support</li>
                            <li><i class='bx bx-check'></i> All features in Premium</li>
                            <li><i class='bx bx-check'></i> Messenger Integration</li>
                            <li><i class='bx bx-check'></i> Custom features</li>
                            <li><i class='bx bx-block'></i> Integration</li>
                            <li><i class='bx bx-block'></i> REST API option</li>
                        </ul>
                    </div>

                    <div class="theme-button text-center">
                        <a routerLink="pricing" class="default-btn">Get Started</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0 ">
                <div class="pricing-card price-card-two" id="three">
                    <div class="price-header text-center">
                        <h2>Premium</h2>
                        <h3><sup>$</sup>99<span>/Month</span></h3>
                        <i class="flaticon-startup"></i>
                    </div>

                    <div class="pricing-feature">
                        <ul>
                            <li><i class='bx bx-check'></i> All features in Standard</li>
                            <li><i class='bx bx-check'></i> 500 ChatBot Triggers</li>
                            <li><i class='bx bx-check'></i> Quick Responses</li>
                            <li><i class='bx bx-check'></i> Google Analytics</li>
                            <li><i class='bx bx-check'></i> Messenger Integration</li>
                            <li><i class='bx bx-check'></i> Email Integration</li>
                            <li><i class='bx bx-check'></i> Mobile + Desktop Apps</li>
                            <li><i class='bx bx-check'></i> Drag & Drop Widgets</li>
                        </ul>
                    </div>

                    <div class="theme-button text-center">
                        <a routerLink="pricing" class="default-btn">Get Started</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0 ">
                <div class="pricing-card price-card-three" id="four">
                    <div class="price-header text-center">
                        <h2>Enterprise </h2>
                        <h3><sup>$</sup><span>/Month</span></h3>
                        <i class="flaticon-startup"></i>
                    </div>

                    <div class="pricing-feature">
                        <ul>
                            <li><i class='bx bx-check'></i> Up to 10 chat operators</li>
                            <li><i class='bx bx-check'></i> 500 ChatBot Triggers</li>
                            <li><i class='bx bx-check'></i> Quick Responses</li>
                            <li><i class='bx bx-check'></i> Google Analytics</li>
                            <li><i class='bx bx-check'></i> Messenger Integration</li>
                            <li><i class='bx bx-check'></i> Email Integration</li>
                            <li><i class='bx bx-check'></i> Mobile + Desktop Apps</li>
                            <li><i class='bx bx-check'></i> Drag & Drop Widgets</li>
                        </ul>
                    </div>

                    <div class="theme-button text-center">
                        <a routerLink="pricing" class="default-btn">Get Started</a>
                    </div>
                </div>
            </div>

            

        </div>
    </div>
</div>

<div class="contact-section pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-0 contact-img">
                <img src="assets/img/contact.jpg" alt="contact">
            </div>

            <div class="col-lg-6 p-0">
                <div class="contact-form">
                    <div class="contact-text">
                        <h3>Interested? Book a Demo</h3>
                        <p>Please fill the form below and we will get to you as soon as possible</p>
                    </div>
                   
                    <form id="contactForm">
                        <div class="row">
                            <div class="col-md-12 col-sm-6">
                                <div class="form-group mb-3">
                                    <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                                </div>
                            </div>
                        
                            <div class="col-md-12 col-sm-6">
                                <div class="form-group mb-3">
                                    <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-6">
                                <div class="form-group mb-3">
                                    <input type="text" name="msg_subject" id="msg_subject" class="form-control" placeholder="Company">
                                </div>
                            </div>
                        
                            <div class="col-md-12 col-sm-6">
                                <div class="form-group mb-3">
                                    <input type="text" name="designation" id="designation" class="form-control" placeholder="Designation">
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-6">
                                <div class="form-group mb-3">
                                    <input type="text" name="date" id="date" class="form-control" placeholder="Your Preferred Date">
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-6">
                                <div class="form-group mb-3">
                                    <input type="text" name="msg_subject" id="msg_subject" class="form-control" placeholder="Subject">
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group mb-3">
                                    <textarea name="message" class="message-field" id="message" cols="30" rows="5" placeholder="Message"></textarea>
                                </div>
                            </div>

                           
                        
                            <div class="col-lg-12 col-md-12">
                                <button type="submit" class="default-btn contact-btn">Submit</button>
                            </div>
                        </div>
                    </form>

                    <img src="assets/img/shapes/1.png" class="contact-shape" alt="shape">
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>