<app-navbar-two></app-navbar-two>

<div class="portfolio-title">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="title-text text-center">
                <h2>Portfolio</h2>

                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li>Portfolio</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="portfolio-section portfolio-style-two pt-100 pb-70">
    <div class="container">
        <div class="portfolio-menu text-center">
            <ul>
                <li class="filter" data-filter="all">All</li>
                <li class="filter" data-filter=".online-business">Online Business</li>
                <li class="filter" data-filter=".digital-marketing">Digital Marketing</li>
                <li class="filter" data-filter=".writing">Content Writing</li>
                <li class="filter" data-filter=".seo">SEO</li>
            </ul>
        </div>

        <div id="Container" class="row">
            <div class="col-lg-3 col-sm-6 mix online-business">
                <div class="portfolio-item">
                    <div class="portfolio-img">
                        <img src="assets/img/portfolio/1.jpg" alt="portfolio image">

                        <div class="portfolio-text">
                            <h3>Online Business</h3>
                            <a routerLink="/" class="portfolio-btn">Read More <i class="flaticon-right-chevron"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 mix digital-marketing">
                <div class="portfolio-item">
                    <div class="portfolio-img">
                        <img src="assets/img/portfolio/2.jpg" alt="portfolio image">

                        <div class="portfolio-text">
                            <h3>Digital Marketing</h3>
                            <a routerLink="/" class="portfolio-btn">Read More <i class="flaticon-right-chevron"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-8 mix online-business">
                <div class="portfolio-item">
                    <div class="portfolio-img">
                        <img src="assets/img/portfolio/3.jpg" alt="portfolio image">

                        <div class="portfolio-text">
                            <h3>Online Business</h3>
                            <a routerLink="/" class="portfolio-btn">Read More <i class="flaticon-right-chevron"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-4 mix writing">
                <div class="portfolio-item">
                    <div class="portfolio-img">
                        <img src="assets/img/portfolio/4.jpg" alt="portfolio image">

                        <div class="portfolio-text">
                            <h3>Content Writing</h3>
                            <a routerLink="/" class="portfolio-btn">Read More <i class="flaticon-right-chevron"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-8 mix">
                <div class="portfolio-item">
                    <div class="portfolio-img">
                        <img src="assets/img/portfolio/5.jpg" alt="portfolio image">

                        <div class="portfolio-text">
                            <h3>Virtual Assistant Service</h3>
                            <a routerLink="/" class="portfolio-btn">Read More <i class="flaticon-right-chevron"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-4 mix seo">
                <div class="portfolio-item">
                    <div class="portfolio-img">
                        <img src="assets/img/portfolio/6.jpg" alt="portfolio image">

                        <div class="portfolio-text">
                            <h3>SEO Service</h3>
                            <a routerLink="/" class="portfolio-btn">Read More <i class="flaticon-right-chevron"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>